.tooltipContainer {
  position: relative;
  display: inline-block;
}

.tooltipText {
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 12px;
  z-index: 1;
  white-space: nowrap;
  font-size: 14px;
  pointer-events: none;
}

.tooltipText::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
